<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8" />
        <title>Bootstrap APP sample</title>
      <style>
        .row {
          margin-top: 4px;
        }
      </style>
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <!--
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      -->
      <!-- AngularJS -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <!-- Bootstrap JS -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <!-- My Application JS -->
      <script src="app.js"></script>
    </head>
    <body ng-controller="AppController">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Application Name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#about">About</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Hello</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">World</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- contents -->
      <div style="margin-top:50px;"></div>
      <div class="container theme-showcase" role="main">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal1">hello,world</button>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-6 form-group form-inline">
            <label>text:&nbsp;</label>
            <input id="ui_text" type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul ng-repeat="item in items">
              <li>{{item.name}}&nbsp;<button class="btn btn-danger btn-xs" ng-click="delItem(item)">del</button>
            </ul>
            <button class="btn btn-primary" ng-click="addItem()">add item</button>
          </div>
        </div>
      </div>
      <!-- modal dislogs -->
      <div id="modal1" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
      <!--
      <div id="modal1" class="modal fade" tabindex="-1" role="dialog">
      -->
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">About this application</h4>
            </div>
            <div class="modal-body">
              <p>Hello World</p>
              <p>
                <input id="ui_dlg1_text" type="text" class="form-control">
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="APP.close_dialog()">OK</button>
            </div>
          </div>
        </div>
      </div>

    </body>
</html>

